@()(implicit flash: Flash, messages: Messages)
@main(Messages("application.name")) {
    <head>
        <script src="@routes.Assets.versioned("javascripts/jquery-1.9.0.min.js")"
        type="text/javascript"></script>
        <script src='@routes.Assets.versioned("javascripts/bookmarks.js")' type='text/javascript'>
            //The application's javascript
        </script>
    </head>

    <a class="brand" href="@routes.Application.bookmarkSPA()">
        Public Bookmarks Listing
    </a>
    <table data-list="@routes.Bookmarks.listJson()"
            data-details="@routes.Bookmarks.detailsJson("Nil")">
    </table>

}