@(user: User, binders: List[Binder])(implicit flash: Flash, messages: Messages)
@main(Messages("application.name")) {
    <h2>
        @user.name
    </h2>
    <h3>Binders:</h3>
    <dl class="products">
    @for(binder <- binders) {
        <dt>
            <a href="@controllers.routes.Binders.details(user.username, binder.name)">
                @binder.alias
            </a>
        </dt>
        <dd>@binder.description</dd>
    }
    </dl>

    <h3>Tags:</h3>
    <a href="@controllers.routes.Tags.listByUser(user.username)">All @user.name's Tags</a>
    <h3>Bookmarks:</h3>
    <a href="@controllers.routes.Bookmarks.listByUser(user.username)">All @user.name's Bookmarks</a>
}