@(user: User, binders: List[Binder], myTags: List[(String,Int)], pThruT: List[(String,String)])(implicit flash: Flash, messages: Messages)
@main(user.name) {
    <div class="side-nav fixed">
        <ul id="slide-out" class="collection with-header">
            <li class="collection-header">@user.name</li>
        </ul>

        <ul id="slide-out" class="collapsible" data-collapsible="expandable">
            <li>
                <div class="collapsible-header active">Binders</div>
                <div class="collapsible-body">
                    <ul class="collection with-header valign">
                        @for(binder <- binders) {
                            <li class="collection-item">
                                <a href="@controllers.routes.Binders.details(user.username, binder.name)">
                                    @binder.alias
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Tags</div>
                <div class="collapsible-body">
                    <ul class="collection with-header valign">
                        @for(t <- myTags) {
                            <li class="collection-item">
                                <a href="@controllers.routes.Tags.details(t._1)">
                                    #@t._1 (@t._2)</a>
                            </li>
                        }
                    </ul>
                </div>
            </li>

            <li class="no-padding">
        </ul>
    </div>


    <div class="col s12 m8 l8">

        <ul class="collection with-header ll-listing">
            <li class="collection-header"><h4>Binders</h4></li>
            @for(binder <- binders) {
                <li class="collection-item">
                    <a href="@controllers.routes.Binders.details(user.username, binder.name)">@binder.alias</a>
                    <p>@binder.description</p>
                </li>
            }

        </ul>

        <h5>Bookmarks</h5>
        <a class="btn" href="@controllers.routes.Bookmarks.createForm(user.username)">Create New Bookmark</a>
        <a class="btn" href="@controllers.routes.Bookmarks.listByUser(user.username)">All @user.name's Bookmarks</a>
    </div>
    <div class="col s12 m8 l3">
        <h5>Similar Curators</h5>
        <ul id="slide-out" class="collapsible" data-collapsible="expandable">
        @for(f <- pThruT) {
            <li>
                <div class="collapsible-header">
                    <a href="@controllers.routes.Binders.list(f._1)">@f._1</a> <i class="material-icons right">keyboard_arrow_down</i>
                </div>
                <div class="collapsible-body">
                    <p>Because you both collected <a href="@controllers.routes.Tags.details(f._2)">#@f._2</a></p>
                </div>
            </li>
        }
        </ul>
    </div>


}