@(user: User, binders: List[Binder], myTags: List[(String,Int)], pThruT: List[(String,String)])(implicit flash: Flash, messages: Messages)
@main(Messages("application.name")) {
    <h2>
        @user.name
    </h2>
    <h3>Binders:</h3>
    <dl class="products">
    @for(binder <- binders) {
        <dt>
            <a href="@controllers.routes.Binders.details(user.username, binder.name)">
                @binder.alias
            </a>
        </dt>
        <dd>@binder.description</dd>
    }
    </dl>

    <h3>All @user.name's Tags:</h3>
    <ul>
        @for(t <- myTags) {
            <li>
                <a href="@controllers.routes.Tags.detailsUser(user.username, t._1)">#@t._1</a> (@t._2)
            </li>
        }
    </ul>
    <a href="@controllers.routes.Tags.listByUser(user.username)">All @user.name's Tags</a>

    <h3>Bookmarks:</h3>
    <a href="@controllers.routes.Bookmarks.listByUser(user.username)">All @user.name's Bookmarks</a>
    <h3>Recommended Friend Based on Shared Tags:</h3>
    <ul>
        @for(f <- pThruT) {
            <li><a href="@controllers.routes.Binders.list(f._1)">@f._1</a> because
                <a href="@controllers.routes.Tags.details(f._2)">#@f._2</a>
            </li>
        }
    </ul>
}