@(name: String, tasks: List[Task], taskForm: Form[String])(implicit message: Messages)
@*****
 * The template signature takes two parameters:
 * A list of tasks to display, a task form
 *****@


@*
Import to give us form functions to create an HTML <form> with
filled action and method attribute and inputText function that
creates an HTML input for a form field
*@
@import helper._

<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Hello</title>
    </head>
    <body>
        <h1>Hello <em>@name</em></h1>


        @main("Todo list") {

            <h1>@tasks.size task(s)</h1>
            <ul>
            @tasks.map { task =>
                <li>
                    @task.label
                    @form(routes.Application.deleteTask(task.id)) {
                        <input type="submit" value="Delete">
                        }
                </li>
            }
            </ul>
            <h2>Add a new task</h2>
            @form(routes.Application.newTask) {
                @inputText(taskForm("label"))
                <input type="submit" value="Create">
                }
        }

    </body>
</html>
