@(title: String)(content: Html)(implicit flash: Flash, message: Messages)
@** The Layout Template **@

<!DOCTYPE html>

<html>
<head>
    <title>@title</title>

    <script type="text/javascript" src="@routes.Assets.versioned("js/jquery-2.1.3.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("js/materialize.js")"></script>

    <link rel='stylesheet' type='text/css' href="@routes.Assets.versioned("css/main.css")">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="shortcut icon" type="image/x-icon" href="@routes.Assets.versioned("/favicon.ico")">
    <link rel="icon" type="image/x-icon" href="@routes.Assets.versioned("/favicon.ico")">

</head>
<body>
    <nav class=" grey lighten-4">
        <div class="nav-wrapper">
            <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            <a href="@routes.Application.index()" class="brand-logo">@Messages("application.name")</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="@routes.Products.list()">@Messages("products.list.navigation")</a></li>
                <li><a href="@routes.Bookmarks.list()">Bookmarks</a></li>
                <li><a href="@routes.Products.createForm()">@Messages("products.new.command")</a></li>
                <li><a href="@routes.Tags.list()">Tags</a></li>
                <li><a href="@routes.Application.index()">@Messages("Home")</a></li>
            </ul>
            <div class="right hide-on-med-and-down">
                <form>
                    <div class="input-field">
                        <input id="search" type="search" required>
                        <label for="search"><i class="material-icons">search</i></label>
                        <i class="material-icons">close</i>
                    </div>
                </form>

            </div>


            <ul class="side-nav" id="mobile-menu">
                <li><a href="sass.html">Sass</a></li>
                <li><a href="badges.html">Components</a></li>
                <li><a href="collapsible.html">Javascript</a></li>
                <li><a href="mobile.html">Mobile</a></li>
            </ul>
        </div>
    </nav>

    <div class="main-content row">
        <div class="col s8 offset-s2">
            @if(flash.get("success").isDefined) {
                <div class="alert alert-success">
                    @flash.get("success")
                </div>
            }
            @if(flash.get("error").isDefined){
                <div class="alert alert-error">
                @flash.get("error")
                </div>
            }
        </div>
        @content

    </div>
    @debug()



    <script>
        $(document).ready(function(){
            $('select').material_select();
            $('.button-collapse').sideNav();
            $('.collapsible').collapsible({
                accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
            });
        });
    </script>
</body>
</html>
